{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | CodingLab</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static "signup.css" %}">
</head>

<body class="login-body">
  <div class="login-container">
    <div class="login-wrapper">
      <div class="login-title"><span>SignUp Form</span></div>
      <form class="login-form" method="post" action="/Signup/">
        {% csrf_token %}
        <div class="login-row">
          <i class="fas fa-user"></i>
          <label for="Username"></label>
          <input name = "Username" type="Username" placeholder="Email or Phone" required>
        </div>
        <div class="login-row">
          <i class="fas fa-lock"></i>
          <label for="Password"></label>
          <input name = "Password" type="Password" placeholder="Password" required>
        </div>
        <div class="login-row login-button">
          <input type="submit" value="Signup">
        </div>
        <div class="signup-link">Already a member? <a href="/">Login now</a></div>
      </form>
    </div>
  </div>
</body>

</html>
